<!-- <div class="head container-fluid bg-danger text-center">
    <img src="image\logo.png" class="img-thumbnail" alt="..." width="50px" height="2px">

</div> -->
<div class="header fixed">
    <div class="head container-fluid bg-dark d-flex justify-content-center text-center">
        <img src="image\logo.png" class="img-thumbnail" alt="..." width="70px" height="2px">
        <h1 class=" h1 text-danger mt-2 ms-3 text-uppercase text-center">G-result</h1>

    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home" target="_self"><img src="image\logo.png" class="img-thumbnail" alt="..." width="50px" height="2px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 h6">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-capitalize" href="/latestjob" onclick="active()">latest job</a>
                    </li>
                    <li class=" nav-item ">
                        <a class="nav-link  text-capitalize " href="# " onclick="document.style.backgroundColor='red'">addmitcard</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link text-capitalize " href="# ">result</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-capitalize " href="# ">syllabus</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-capitalize " href="# ">entrence exam</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-capitalize " href="# ">upcoming exam </a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle " href="# " id="navbarDropdown " role="button " data-bs-toggle="dropdown " aria-expanded="false ">
                  Dropdown
                </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdown ">
                            <li><a class="dropdown-item " href="# ">Action</a></li>
                            <li><a class="dropdown-item " href="# ">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider ">
                            </li>
                            <li><a class="dropdown-item " href="# ">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link disabled " href="# " tabindex="-1 " aria-disabled="true ">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex pt-2 ">
                    <input class="form-control me-2 " type="search " placeholder="Search " aria-label="Search ">
                    <button class="btn btn-outline-success bg-secondary text-light " type="submit ">Search</button>
                </form>
            </div>
        </div>
    </nav>

</div>
<script>
    function active() {
        document.getElementsByTagName('a').style.backgroundColor = 'yellow';
    }
</script>